// Input Related ***********************************************************

legend {
    color: $ocean-blue;
    font-size: 18px;
}

fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
}

.checkbox-label {
    color: lighten(black, 10);
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 0 0;
    text-align: right;
}

.text-label {
    color: lighten(black, 10);
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 7px 0;
    text-align: right;
}

.section-container {
    padding: 0 0 10px 0;
}


// Dropdown related ************************************************************

.small-dropdown {
    width: 100px;
}

.medium-dropdown {
    width: 200px;
}

.large-dropdown {
    width: 300px;
}

.dropdown-header-wrapper {
    display: inline-block;
    margin: 0;
    position: relative;
}

.dropdown-header {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #495057;
    cursor: default;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 38px;
    padding: .375rem .75rem;
    position: relative;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-header:focus {
    border-color: $ocean-blue;
}

.dropdown-caret {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 18px;
    top: 3px;
}

// Other *******************************************************************

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

.tab-body {
    padding: 0 15px;
    max-height: 86vh;
    overflow: scroll;
}

.input-tooltip {
    color: mediumvioletred;
    font-size: 15px;
    margin-left: 8px;
}

.loading-spinner {
    color: $ocean-blue;
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
}

.save-button {
    @extend .green-button;
    margin: 0 0 10px 0;
}

.last-saved-timestamp {
    color: lighten(#495057, 40);
    font-size: 15px;
}

.last-saved-spinner {
    font-size: 18px;
    color: $ocean-blue;
    margin-top: 15px;
    margin-left: 24px;
    display: inline-block;
}

// Modal Related ***********************************************************

.modal-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.modal-body {
}

.modal-cancel-button {
    @extend .gray-button;
}

.modal-delete-button {
    @extend .red-button;
    margin-right: 15px;
}
