@import '@/styles/colors.scss';

// api errors ************************************************************
.api-error-container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px 90px 10px 10px;
    border-radius: .25rem;
    margin-top: 11px;
}

.dismiss-error-button {
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 4px 10px;
    background-color: white;
    border-radius: .25rem;
    cursor: pointer;
    border: 1px solid #f5c6cb;
}

// dropdown related start ************************************************
.dropdown-header-wrapper {
    position: relative;
    display: inline-block;
    margin: 0;
}

.dropdown-header {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-header:focus {
    border-color: $ocean-blue;
}

.dropdown-caret {
    position: absolute;
    right: 18px;
    top: 3px;
    font-size: 30px;
    cursor: pointer;
}

// input related *********************************************************
.input-label {
    text-align: right;
    font-size: 17px;
    margin: 5px 15px 7px 0;
    display: inline-block;
    color: black;
    font-weight: 600;
}
