@import '@/styles/colors.scss';

$title-size: 17px;

// dropdown related ******************************************************
.dropdown-header-wrapper {
    display: inline-block;
    margin: 0;
    position: relative;
}

.dropdown-header {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #495057;
    cursor: default;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    position: relative;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-header:focus {
    border-color: $ocean-blue;
}

.dropdown-caret {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 18px;
    top: 3px;
}

// input related *********************************************************
.input-label {
    color: black;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 15px 7px 0;
    text-align: right;
}
