@import '@/styles/colors.scss';

// group member input related ******************************************************
.group-members-label {
    color: lighten(black, 25);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px 10px 0;
    vertical-align: top;
}

.add-member-container {
    cursor: pointer;
    display: block;
    padding: 0 0 8px 0;
}

.group-member-editing {
    padding-bottom: 10px;
}

.username-validated-container {
    display: inline-block;
}

.remove-member-button {
    @extend .light-gray-button;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 6px;
    margin-left: 8px;
    color: hsl(220, 30%, 25%);
}

.remove-member-button:disabled {
    color: hsl(220, 30%, 70%);
}

.add-member-button {
    @extend .dark-purple-button;
}

.add-member-button:disabled {
    @extend .gray-button;
}

// section title related ***********************************************************
.section-title {
    color: lighten(black, 25);
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}
