@import '@/styles/colors.scss';

// group member input related ******************************************************
.group-members-label {
    color: lighten(black, 25);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px 10px 0;
    vertical-align: top;
}

.member-name-input {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #495057;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.group-member-editing {
    padding-bottom: 10px;
}

.remove-member-button {
    @extend .light-gray-button;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px;
    border-radius: 6px;
    margin-left: 8px;
    color: hsl(220, 30%, 25%);
}

.remove-member-button:disabled {
    color: hsl(220, 30%, 70%);
}

.add-member-container {
    cursor: pointer;
    display: block;
    padding: 2px 0 8px 0;
}

.add-member-button {
    @extend .purple-button;
}

.add-member-button:disabled {
    @extend .gray-button;
}

.error-input {
    outline: none;
    box-shadow: 0 0 10px $warning-red;
    border: 1px solid $warning-red;
    border-radius: .25rem;
}

.error-input:focus, .error-input:active {
    outline: none;
    box-shadow: 0 0 10px $warning-red;
    border: 1px solid $warning-red;
    border-radius: .25rem;
}

.incomplete-input-msg {
    box-sizing: border-box;
    color: #721c24;
    display: inline-block;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: .25rem;
    margin-top: 11px;
}

// section title related ***********************************************************
.section-title {
    color: lighten(black, 25);
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}
