@import '@/styles/button_styles.scss';
@import '@/styles/colors.scss';
@import '@/styles/forms.scss';

.config-name {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

// Feedback Config ---------------------------------------------------------

.config-panels-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.save-feedback-config-settings {
    @extend .green-button;
    margin: 0 0 20px 0;
}

// Edit Settings ------------------------------------------------------------

.edit-feedback {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.feedback-checkbox-input-container {
    padding: 5px 0;
}

#edit-feedback-toggle-zone {
    background-color: white;
}

.select-row {
    padding: 5px 5px 8px 5px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
}

.setting-title {
    padding-right: 10px;
    font-size: 14px;
}

.advanced-settings-label {
    font-size: 16px;
    color: $navy-blue;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 10px 10px 10px 8px;
}

.advanced-settings-label span {
    padding-right: 20px;
    font-weight: bold;
}

.caret-right, .caret-down {
    font-size: 15px;
    width: 22px;
    color: $navy-blue;
}

.advanced-settings-divider {
    border-top: 1px solid $pebble-dark;
    flex: 1;
}

.select-row div {
    padding-top: 3px;
}

.select-row label {
    font-weight: normal;
    font-size: 16px;
}
