.invitation-container {
    border-radius: 5px;
    width: 95%;
    margin: 15px 2.5%;
}

@mixin invitation_container_header($background-color: white, $border-color: white) {
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 3px 3px 0 0;
    background-color: $background-color;
    border: 2px solid $border-color;
}

@mixin invitation_container_footer($background-color: white, $border-color: white) {
    border-radius: 0 0 3px 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding: 9px;
    background-color: $background-color;
    border: 2px solid $border-color;
}

@mixin invitation_container_body($border-color: white) {
    padding: 10px 40px 6px 18px;
    border: 2px solid $border-color;
    border-top: none;
    border-bottom: none;
}

.invitation-table-row {
    th {
        padding: 2px 0 10px 0;
    }
    td {
        padding: 5px 40px 5px 0;
        width: 50%;
    }
}

.list-of-usernames {
    margin-top: 12px;
    margin-bottom: 10px;
}

.username {
    margin-top: 10px;
    font-weight: bold;
}

.last-username {
    margin-bottom: 0;
}

// Modal ----------------------------------------------------------
.modal-header {
    font-size: 20px;
    padding: 10px 0 5px 0;
}

.modal-divider {
    background-color: darken($white-gray, 3);
    height: 2px;
    margin: 9px 0;
}

.modal-message {
    padding: 5px 0;
}

.modal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

.invitation-table {
    width: 100%;
}

.member-name-td {
    width: 50%;
}

@media only screen and (min-width: 600px) {
    .invitation-table {
        display: inline-block;
    }

    .member-name-td {
        padding-right: 100px;
    }
}
