@import '@/styles/colors.scss';

@mixin inactive-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
}

@mixin active-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
    z-index: 1;
}

@mixin tab-border($border-color, $border-width: 2px) {
    border: $border-width solid $border-color;
    border-bottom: $border-width solid transparent;
}

%mobile-tab {
    display: block;
    padding: 18px 20px;
}

/* ---------------- Gray ---------------- */

.gray-theme-active {
    @extend %mobile-tab;
    background-color: $pebble-dark;
    width: 10%;
}

.gray-theme-inactive {
    @extend %mobile-tab;
    background-color: $pebble-light;
    width: 10%;
}

.gray-theme-inactive:hover {
    background-color: $pebble-medium;
}

/* -------------- Dark ------------- */

.dark-theme-active {
    @extend %mobile-tab;
    color: white;
    background-color: darken($stormy-gray-dark, 25);
}

.dark-theme-inactive {
    @extend %mobile-tab;
    color: white;
    background-color: darken(rgba(119, 136, 153, 0.9), 20);
}

.dark-theme-inactive:hover {
    background-color: darken($stormy-gray-dark, 15);
}

/* ---------------- Blue ---------------- */

.blue-theme-active {
    @extend %mobile-tab;
    background-color: darken($ocean-blue, 18);
    color: white;
}

.blue-theme-inactive {
    @extend %mobile-tab;
    background-color: darken($ocean-blue, 11);
    color: white;
}

.blue-theme-inactive:hover {
    background-color: darken($ocean-blue, 13);
}

/* ---------------- White ---------------- */

.white-theme-active {
    @extend %mobile-tab;
    background-color: darken($pebble-medium, 5);
}

.white-theme-inactive {
    @extend %mobile-tab;
    background-color: white;
}

.white-theme-inactive:hover {
    background-color: $pebble-medium;
}

/* -------------- No Border ------------- */

.no-border-active {
    background-color: $pebble-dark;
    color: black;
    @extend %mobile-tab;
}

.no-border-inactive {
    background-color: hsl(184, 5%, 95%);
    color: slategrey;
    @extend %mobile-tab;
}

.no-border-inactive:hover {
    background-color: $pebble-medium;
    color: black;
}














@media only screen and (min-width: 481px) {
    %tab-theme {
        display: inline-block;
        border-radius: 10px 10px 0 0;
        margin-right: 2px;
        margin-top: 4px;
        padding: 10px 15px;
    }

    /* ---------------- Gray ---------------- */

    .gray-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border($stormy-gray-dark);
        background-color: white;
    }

    .gray-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border($pebble-light);
    }

    .gray-theme-inactive:hover {
        @include tab-border($pebble-medium);
    }

    /* -------------- Dark ------------- */

    .dark-theme-active {
        @extend %tab-theme;
        color: white;
    }

    .dark-theme-inactive {
        @extend %tab-theme;
        color: white;
    }

    /* ---------------- Blue ---------------- */

    .blue-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border(darken($ocean-blue, 15));
        background-color: white;
        color: black;
    }

    .blue-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border(darken($ocean-blue, 8));
        color: white;
    }

    .blue-theme-inactive:hover {
        @include tab-border(darken($ocean-blue, 15));
        background-color: darken($ocean-blue, 15);
    }

    /* ---------------- White ---------------- */

    .white-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border($pebble-dark);
        background-color: white;
        color: black;
    }

    .white-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border(white);
    }

    .white-theme-inactive:hover {
        @include tab-border($pebble-medium);
    }

    /* -------------- Gray-white ------------- */

    .gray-white-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border(hsl(210, 11%, 90%));
        background-color: white;
        color: black;
    }

    .gray-white-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border(hsl(210, 11%, 95%));
        background-color: hsl(210, 11%, 95%);
        color: black;
    }

    .gray-white-theme-inactive:hover {
        @include tab-border(hsl(210, 12%, 93%));
        background-color: hsl(210, 12%, 93%);
        color: black;
    }

    /* -------------- No Border ------------- */

    .no-border-active {
        @extend %tab-theme;
        @include tab-border($pebble-dark);
    }

    .no-border-inactive {
        @extend %tab-theme;
        @include tab-border($pebble-light);
    }

    .no-border-inactive:hover {
        @include tab-border($pebble-medium);
    }
}
