@import '@/styles/colors.scss';

%tab-theme {
    display: inline-block;
    border-radius: 10px 10px 0 0;
    margin-right: 2px;
    margin-top: 4px;
    padding: 10px 15px;
}

@mixin inactive-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
}

@mixin active-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
    z-index: 1;
}

@mixin tab-border($border-color, $border-width: 2px) {
    border: $border-width solid $border-color;
    border-bottom: $border-width solid transparent;
}

/* ---------------- Gray ---------------- */

.gray-theme-active {
    @extend %tab-theme;
    @include active-tab-position();
    background-color: white;
    @include tab-border(slategrey);
    color: slategrey;
};

.gray-theme-inactive {
    @extend %tab-theme;
    @include inactive-tab-position();
    background-color: $pebble-medium;
    @include tab-border($pebble-medium);
    color: slategrey;
};

.gray-theme-inactive:hover {
    background-color: slategrey;
    @include tab-border(slategray);
    color: white;
}

/* ---------------- Blue ---------------- */

.blue-theme-active {
    @extend %tab-theme;
    @include active-tab-position();
    background-color: white;
    @include tab-border($ocean-blue);
    color: black;
}

.blue-theme-inactive {
    @extend %tab-theme;
    @include inactive-tab-position();
    background-color: hsl(30, 100%, 68%);
    @include tab-border(hsl(30, 100%, 68%));
    color: white;
}

.blue-theme-inactive:hover  {
    background-color: hsl(30, 100%, 60%);
    @include tab-border(hsl(30, 100%, 60%));
}

/* ---------------- White ---------------- */

.white-theme-active {
    @extend %tab-theme;
    @include active-tab-position();
    background-color: white;
    @include tab-border($pebble-dark);
    color: black;
}

.white-theme-inactive {
    @extend %tab-theme;
    @include inactive-tab-position();
    background-color: white;
    @include tab-border(white);
    color: slategrey;
}

.white-theme-inactive:hover {
    background-color: $pebble-dark;
    @include tab-border($pebble-dark);
    color: black;
}

/* -------------- Gray-white ------------- */

.gray-white-theme-active {
    @extend %tab-theme;
    @include active-tab-position();
    background-color: white;
    @include tab-border(hsl(210, 11%, 90%));
    color: black;
}

.gray-white-theme-inactive {
    @extend %tab-theme;
    @include inactive-tab-position();
    background-color: hsl(210, 11%, 95%);
    @include tab-border(hsl(210, 11%, 95%));
    color: black;
}

.gray-white-theme-inactive:hover {
    background-color: hsl(210, 12%, 93%);
    @include tab-border(hsl(210, 12%, 93%));
    color: black;
}

/* -------------- No Border ------------- */

.no-border-active {
    @extend %tab-theme;
    background-color: $pebble-dark;
    @include tab-border($pebble-dark);
    color: black;
}

.no-border-inactive {
    @extend %tab-theme;
    background-color: hsl(184, 5%, 95%);
    @include tab-border(hsl(184, 5%, 95%));
    color: slategrey;
}

.no-border-inactive:hover {
    background-color: $pebble-medium;
    @include tab-border($pebble-medium);
    color: black;
}
