@import '@/styles/colors.scss';

@mixin inactive-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
}

@mixin active-tab-position($border-width: 2px) {
    position: relative;
    top: $border-width;
    z-index: 1;
}

@mixin tab-border($border-color, $border-width: 2px) {
    border: $border-width solid $border-color;
    border-bottom: $border-width solid transparent;
}

%mobile-tab {
    display: block;
    box-sizing: border-box;
    min-width: 10px;
    padding: 18px 20px;
    position: relative;
}

@media only screen and (max-width: 481px) {
    .tab-style {
        border-top-width: 2px;
        border-top-style: solid;
    }

    .tab-style:first-child {
        border-top-width: 0;
    }
}

/* ------------- Gray & No Border -------------- */

.gray-theme-active, .no-border-active {
    @extend %mobile-tab;
    background-color: $pebble-dark;
    border-top-color: $pebble-dark;
}

.gray-theme-inactive, .no-border-inactive {
    @extend %mobile-tab;
    background-color: $pebble-light;
    border-top-color: darken($pebble-light, 1);
}

.gray-theme-inactive:hover, .no-border-inactive:hover  {
    background-color: $pebble-medium;
}

/* ---------------- Gray-No-Padding---------------- */

.gray-theme-active-no-padding {
    @extend %mobile-tab;
    background-color: $pebble-dark;
    border-top-color: $pebble-dark;
    padding: 0;
}

.gray-theme-inactive-no-padding {
    @extend %mobile-tab;
    background-color: $pebble-light;
    border-top-color: darken($pebble-light, 1);
    padding: 0;
}

.gray-theme-inactive-no-padding:hover {
    background-color: $pebble-medium;
}

/* -------------- Gray-white ------------- */

.gray-white-theme-active {
    @extend %mobile-tab;
    background-color: $ocean-blue;
    border-top-color: $ocean-blue;
    color: white;
}

.gray-white-theme-inactive {
    @extend %mobile-tab;
    background-color: $pebble-light;
    border-top-color: darken($pebble-light, 1);
}

.gray-white-theme-inactive:hover {
    background-color: $pebble-medium;
}

/* -------------- Dark ------------- */

.dark-theme-active {
    @extend %mobile-tab;
    background-color: darken($stormy-gray-dark, 25);
    border-top-color: darken($stormy-gray-dark, 25);
    color: white;
}

.dark-theme-inactive {
    @extend %mobile-tab;
    background-color: $stormy-gray-dark;
    border-top-color: darken($stormy-gray-dark, 1);
    color: white;
}

.dark-theme-inactive:hover {
    background-color: darken($stormy-gray-dark, 5);
}

/* ---------------- White ---------------- */

.white-theme-active {
    @extend %mobile-tab;
    background-color: $ocean-blue;
    border-top-color: $ocean-blue;
    color: white;
}

.white-theme-inactive {
    @extend %mobile-tab;
    background-color: white;
    border-top-color: darken(white, 2);
}

.white-theme-inactive:hover {
    background-color: $pebble-light;
}

/* ---------------- MEDIA QUERY SECTION---------------- */

@media only screen and (min-width: 481px) {

    %tab-theme {
        border-radius: 6px 6px 0 0;
        box-sizing: border-box;
        display: inline-block;
        margin-top: 4px;
        max-width: 250px;
        min-width: 36px;
        padding: 10px 15px;
    }

    /* ---------------- Gray ---------------- */

    .gray-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border($stormy-gray-dark);
        background-color: white;
        border-right: 2px solid darken($stormy-gray-dark, 2);
    }

    .gray-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border($pebble-light);
        border-right: 2px solid darken($pebble-light, 2);
    }

    .gray-theme-inactive:hover {
        @include tab-border($pebble-medium);
    }


    /* ---------------- Gray-No-Padding---------------- */

    .gray-theme-active-no-padding {
        @extend %tab-theme;
        @include active-tab-position(2px);
        @include tab-border($pebble-dark);
        background-color: white;
        padding: 0;
    }

    .gray-theme-inactive-no-padding {
        @extend %tab-theme;
        @include inactive-tab-position(2px);
        @include tab-border($pebble-light);
        border-right: 2px solid darken($pebble-light, 2);
        padding: 0;
    }

    .gray-theme-inactive-no-padding:hover {
        @include tab-border($pebble-medium);
    }

    /* -------------- Gray-white ------------- */

    .gray-white-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border($pebble-medium);
        background-color: white;
        color: black;
    }

    .gray-white-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border($pebble-light);
        background-color: $pebble-light;
        border-right: 2px solid darken($pebble-light, 2);
        color: black;
    }

    .gray-white-theme-inactive:hover {
        @include tab-border($pebble-medium);
        background-color: $pebble-medium;
        color: black;
    }

    /* -------------- No Border ------------- */

    .no-border-active {
        @extend %tab-theme;
        background-color: darken($pebble-dark, 50);
        color: white;
    }

    .no-border-inactive {
        @extend %tab-theme;
        border-right: 2px solid darken($pebble-light, 2);
    }

    /* -------------- Dark ------------- */

    .dark-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border(darken($stormy-gray-dark, 25));
        background-color: white;
        color: black;
    }

    .dark-theme-inactive {
        @include inactive-tab-position();
        @extend %tab-theme;
        @include tab-border(darken($stormy-gray-dark, 0));
        border-right: 2px solid darken($stormy-gray-dark, 2);
        color: white;
    }

    .dark-theme-inactive:hover {
        @include tab-border(darken($stormy-gray-dark, 5));
    }

    /* ---------------- White ---------------- */

    .white-theme-active {
        @extend %tab-theme;
        @include active-tab-position();
        @include tab-border($pebble-medium);
        background-color: white;
        color: black;
    }

    .white-theme-inactive {
        @extend %tab-theme;
        @include inactive-tab-position();
        @include tab-border($pebble-light);
        background-color: $pebble-light;
        border-right: 2px solid darken($pebble-light, 2);
    }

    .white-theme-inactive:hover {
        @include tab-border($pebble-medium);
        background-color: $pebble-medium;
    }
}
