$footer-height: 2.875rem;
$panel-indentation: 1.25rem;

.delete-level-button {
    @extend .red-button;
}

// Modal Related ***********************************************************

.item-to-delete {
    color: $ocean-blue;
}

.modal-create-button {
    @extend .green-button;
}

.modal-cancel-button {
    @extend .white-button;
}

.modal-delete-button {
    @extend .red-button;
}
