[submodule "e2e_test_stack/autograder-server"]
	path = e2e_test_stack/autograder-server
	url = ../autograder-server.git
	branch = release-2026.08.X
[submodule "ag-client-typescript"]
	path = ag-client-typescript
	url = ../ag-client-typescript
	branch = release-2026.08.X
