@import url('https://fonts.googleapis.com/css?family=Quicksand');

$current_language: "Quicksand";

.button {
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 7px 12px;
}

.button:disabled {
    cursor: not-allowed;
}

.red-button {
    @extend .button;
    background-color: hsl(0, 80%, 50%);
    border: 1px solid hsl(0, 80%, 66%);
}

.red-button:hover:enabled {
    background-color: hsl(0, 80%, 45%);
}

.red-button:focus {
    outline-color: hsl(0.61, 80%, 85%);
}

.orange-button {
    @extend .button;
    background-color: hsl(20, 100%, 55%);
    border: 1px solid hsl(20, 100%, 71%);
}

.orange-button:hover:enabled {
    background-color: hsl(20, 100%, 50%);

}

.orange-button:focus {
    outline-color: hsl(20, 100%, 80%);
}

.green-button {
    @extend .button;
    background-color: hsl(150, 55%, 44%);
    border: 1px solid hsl(150, 55%, 60%);
}

.green-button:hover:enabled {
    background-color: hsl(150, 55%, 39%);
}

.green-button:focus {
    outline-color: hsl(150, 55%, 79%);
}

.blue-button {
    @extend .button;
    background-color: hsl(208, 59%, 54%);
    border: 1px solid hsl(208, 59%, 70%);
}

.blue-button:hover:enabled {
    background-color: hsl(208, 59%, 49%);
}

.blue-button:focus {
    outline-color: hsl(208, 59%, 85%);
}

.purple-button {
    @extend .button;
    background-color: hsl(275, 48%, 63%);
    border: 1px solid hsl(275, 48%, 79%);
}

.purple-button:hover:enabled {
    background-color: hsl(275, 48%, 58%);
}

.purple-button:focus {
    outline-color: hsl(275, 48%, 88%);
}

.gray-button {
    @extend .button;
    background-color: hsl(210, 13%, 63%);
    border: 1px solid hsl(210, 13%, 79%);
}

.gray-button:hover:enabled {
    background-color: hsl(210, 13%, 58%);
}

.gray-button:focus {
    outline-color: hsl(210, 13%, 88%);
}
