@import '@/styles/colors.scss';

button {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 1px 5px $pebble-dark;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 7px 12px;
}

button:focus {
    outline: none;
}

.button:disabled {
    cursor: not-allowed;
    text-shadow: none;
}

@mixin enabled_state($lighter-color: white, $darker-color: white,
                     $text-shadow-darken-value: 10px) {
    background-color: $darker-color;
    background-image: linear-gradient($lighter-color, $darker-color);
    border-color: $darker-color;
    text-shadow: 0 -0.5px 0.5px darken($darker-color, $text-shadow-darken-value);
}

@mixin hover_state($lighter-color: white, $darker-color: white) {
    background-color: $darker-color;
    background-image: linear-gradient($lighter-color, $darker-color);
    border-color: $darker-color;
}

@mixin active_state($lighter-color: white, $darker-color: white) {
    background-color: $darker-color;
    background-image: linear-gradient($lighter-color, $darker-color);
    border-color: $darker-color;
    box-shadow: none;
}

@mixin focus_state($color: white) {
    box-shadow: 0 0 4px 2px $color;
}

@mixin disabled_state($lighter-color: white, $darker-color: white,
                      $border-color: hsl(220, 30%, 91%), $text-color: hsla(0, 0%, 100%, .75)) {
    background-image: linear-gradient($lighter-color, $darker-color);
    border-color: $border-color;
    color: $text-color;
    box-shadow: none;
}

// Red Button ----------------------------------------------------------------------

$base-red: hsl(0, 80%, 46%);

.red-button {
    @extend .button;
    @include enabled_state(lighten($base-red, 4), $base-red, 22);
}

.red-button:hover:enabled {
    @include hover_state(lighten($base-red, 8), lighten($base-red, 4));
}

.red-button:active:enabled {
    @include active_state($base-red, darken($base-red, 4));
}

.red-button:focus {
    @include focus_state(lighten($base-red, 40));
}

.red-button:disabled {
    @include disabled_state(hsla(0, 80%, 70%, .9), hsla(0, 80%, 68%, .9), hsla(0, 80%, 46%, .1));
}

// Orange Button -------------------------------------------------------------------

$base-orange: hsl(20, 100%, 51%);

.orange-button {
    @extend .button;
    @include enabled_state(lighten($base-orange, 4), $base-orange, 13);
}

.orange-button:hover:enabled {
    @include hover_state(lighten($base-orange, 6), lighten($base-orange, 2));
}

.orange-button:active:enabled {
    @include active_state($base-orange, darken($base-orange, 4));
}

.orange-button:focus {
    @include focus_state(lighten($base-orange, 34));
}

.orange-button:disabled {
    @include disabled_state(hsla(20, 100%, 70%, .6), hsla(20, 100%, 68%, .6),
                            hsla(20, 100%, 55%, .1));
}

// Green Button --------------------------------------------------------------------

$base-green: darken($save-green, 4);

.green-button {
    @extend .button;
    @include enabled_state(lighten($base-green, 4), $base-green, 20);
}

.green-button:hover:enabled {
    @include hover_state(lighten($base-green, 6), lighten($base-green, 2));
}

.green-button:active:enabled {
    @include active_state($base-green, darken($base-green, 4));
}

.green-button:focus {
    @include focus_state(lighten($base-green, 45));
}

.green-button:disabled {
    @include disabled_state(hsla(150, 55%, 88%, .3), hsla(150, 55%, 86%, .3),
                            hsla(150, 55%, 40%, .2));
}

// Blue Button ---------------------------------------------------------------------

$base-blue: hsl(208, 59%, 45%);

.blue-button {
    @extend .button;
    @include enabled_state(lighten($base-blue, 4), $base-blue, 25);
}

.blue-button:hover:enabled {
    @include hover_state(lighten($base-blue, 6), lighten($base-blue, 2));
}

.blue-button:active:enabled {
    @include active_state($base-blue, darken($base-blue, 4));
}

.blue-button:focus {
    @include focus_state(lighten($base-blue, 40));
}

.blue-button:disabled {
    @include disabled_state(hsla(208, 59%, 90%, .2), hsla(208, 59%, 88%, .2),
                            hsla(208, 59%, 54%, .2));
}

// Teal Button ---------------------------------------------------------------------

$base-teal: hsl(180, 100%, 24%);

.teal-button {
    @extend .button;
    @include enabled_state(lighten($base-teal, 4), $base-teal, 10);
}

.teal-button:hover:enabled {
    @include hover_state(lighten($base-teal, 6), lighten($base-teal, 2));
}

.teal-button:active:enabled {
    @include active_state($base-teal, darken($base-teal, 4));
}

.teal-button:focus {
    @include focus_state(lighten($base-teal, 65));
}

.teal-button:disabled {
    @include disabled_state(hsla(180, 100%, 80%, .4), hsla(180, 100%, 78%, .4),
                            hsla(180, 100%, 78%, .2));
}

// Purple Button -------------------------------------------------------------------

$base-purple: hsl(275, 48%, 56%);

.purple-button {
    @extend .button;
    @include enabled_state(lighten($base-purple, 4), $base-purple, 14);
}

.purple-button:hover:enabled {
    @include hover_state(lighten($base-purple, 6), lighten($base-purple, 2));
}

.purple-button:active:enabled {
    @include active_state($base-purple, darken($base-purple, 4));
}

.purple-button:focus {
    @include focus_state(hsl(275, 48%, 90%));
}

.purple-button:disabled {
    @include disabled_state(hsla(275, 48%, 77%, .5),  hsla(275, 48%, 75%, .5),
                            hsla(275, 48%, 59%, .1));
}

// Periwinkle Button ---------------------------------------------------------------

$base-periwinkle: hsl(220, 30%, 56%);

.periwinkle-button {
    @extend .button;
    @include enabled_state(lighten($base-periwinkle, 4), $base-periwinkle, 16);
}

.periwinkle-button:hover:enabled {
    @include hover_state(lighten($base-periwinkle, 6), lighten($base-periwinkle, 2));
}

.periwinkle-button:active:enabled {
    @include active_state($base-periwinkle, darken($base-periwinkle, 4));
}

.periwinkle-button:focus {
    @include focus_state(hsl(220, 30%, 85%));
}

.periwinkle-button:disabled {
    @include disabled_state(hsla(220, 30%, 96%, .2), hsla(220, 30%, 92%, .2),
                            hsla(220, 30%, 62%, .1));
}

// Gray Button ---------------------------------------------------------------------

$base-gray: darken($stormy-gray-light, 10);

.gray-button {
    @extend .button;
    @include enabled_state(lighten($base-gray, 4), $base-gray, 10);
}

.gray-button:hover:enabled {
    @include hover_state(lighten($base-gray, 6), lighten($base-gray, 2));
}

.gray-button:active:enabled {
    @include active_state($base-gray, darken($base-gray, 4));
}

.gray-button:focus {
    @include focus_state(hsl(208, 59%, 86%));
}

.gray-button:disabled {
    @include disabled_state(hsla(210, 13%, 69%, .2), hsla(210, 13%, 65%, .2),
                            hsla(210, 13%, 59%, .1));
}

// Light Gray Button ---------------------------------------------------------------

$base-light-gray: hsl(220, 30%, 85%);

.light-gray-button {
    @extend .button;
    @include enabled_state(lighten($base-light-gray, 5), $base-light-gray);
    color: hsl(220, 30%, 25%);
    text-shadow: 0 -0.5px 0.5px hsl(220, 100%, 90%);
    box-shadow: 0 1px 5px $pebble-medium;
}

.light-gray-button:hover:enabled {
    @include hover_state(lighten($base-light-gray, 5), lighten($base-light-gray, 3));
}

.light-gray-button:active:enabled {
    @include active_state(lighten($base-light-gray, 1), darken($base-light-gray, 3));
}

.light-gray-button:focus {
    @include focus_state(hsl(208, 59%, 92%));
}

.light-gray-button:disabled {
    @include disabled_state(hsla(220, 30%, 96%, .4), hsla(220, 30%, 92%, .4),
                            hsla(220, 30%, 80%, .1), hsla(220, 40%, 60%, .75));
}

// White Button --------------------------------------------------------------------

$base-white: hsl(200, 100%, 99%);

.white-button {
    @extend .button;
    @include enabled_state(lighten($base-white, 1), $base-white);
    border-color: hsl(220, 30%, 90%);
    color: hsla(220, 12%, 20%, 1);
    text-shadow: 0 -0.5px 0.5px hsl(220, 30%, 90%);
}

.white-button:active:enabled {
    box-shadow: none;
}

.white-button:focus {
    @include focus_state(hsl(208, 59%, 86%));
}

.white-button:disabled {
    @include disabled_state(hsla(200, 100%, 100%, .4), hsla(200, 100%, 99%, .4),
                            hsl(220, 30%, 70%), hsla(220, 12%, 20%, 0.4));
    text-shadow: 0 -0.5px 0.5px hsl(220, 30%, 90%);
}

