@import '@/styles/button_styles.scss';
@import '@/styles/colors.scss';

@mixin collapsible-sidebar(
    // The width of the sidebar.
    $sidebar-width,

    // The height of the element with class "sidebar-header". This value is
    // also subtracted from 100vh to determine the max-height of .sidebar-content.
    $sidebar-header-height,

    $sidebar-header-font-size: 1.125rem,

    // Border color around the sidebar menu
    $border-color: none,

    // Set to true to include a border at the top of the sidebar header.
    $include-top-border: false,

    // Background color of the whole sidebar menu
    $background-color: transparent,

    // Background color while hovering over elements with the class
    // .sidebar-item
    $hover-color: none,

    // Background color for elements in the sidebar content marked with the
    // class "active"
    $active-color: none,

    // The min screen width at which the open sidebar will stop overlapping
    // the body content.
    $overlap-breakpoint: 800px,

    // This value is also subtracted from 100vh to determine the max-height of
    // .sidebar-content. It's also added as a margin to the bottom of
    // .body. Useful if you have a full-page footer and don't want
    // it to cover the bottom of the sidebar and body content.
    $page-footer-height: 0px,

    // Like $page-footer-height, but is NOT added as a bottom margin to .body.
    // (Instead, it's added as margin-bottom to .sidebar-content).
    $sidebar-footer-height: 0px,

    // When true, sets the height of .sidebar-content to be equal to its
    // max-height.
    $stretch: false,
) {
    .sidebar-container {
        display: flex;

        * {
            box-sizing: border-box;
        }

        .sidebar-menu {
            z-index: 1;
            background-color: $background-color;
            @if $border-color != none {
                border: 1px solid $border-color;
                border-left: none;

                @if $stretch {
                    border-bottom: none;
                }

                @if not $include-top-border {
                    border-top: none;
                }
            }

            .sidebar-header, .sidebar-content {
                // min-width works better with flex-grow
                min-width: $sidebar-width;
                max-width: $sidebar-width;
            }

            .sidebar-header {
                height: $sidebar-header-height;
                font-size: $sidebar-header-font-size;

                position: sticky;
                top: 0;

                padding: .25rem .5rem;
                display: flex;
                flex-direction: row;
                align-items: center;

                .sidebar-collapse-button {
                    color: $ocean-blue;

                    &:hover {
                        color: darken($ocean-blue, 10);
                        cursor: pointer;
                    }
                }

                .sidebar-header-text {
                    margin: 0 .5rem;
                    font-weight: bold;
                }

                .sidebar-new-button {
                    @extend .white-button;
                    box-shadow: none;
                    margin-left: auto;

                    // Make button text and padding smaller
                    // proportional to the header text.
                    font-size: .875em;
                    padding: .25em .625em;

                    color: darken($green, 20%);

                    .sidebar-plus {
                        padding-right: .25rem;
                    }
                }
            }

            .sidebar-header-closed {
                min-width: auto;

                @if $stretch {
                    border-bottom: 1px solid $border-color;
                }
            }

            $max-height: calc(
                100vh
                - #{$sidebar-header-height}
                - #{$page-footer-height}
                - #{$sidebar-footer-height}
            );
            .sidebar-content {
                position: sticky;
                top: $sidebar-header-height;
                overflow: auto;
                max-height: $max-height;
                @if $stretch {
                    height: $max-height;
                }

                margin-bottom: $sidebar-footer-height;

                @if $hover-color != none {
                    .sidebar-item:not(.active):not(.disabled):hover {
                        cursor: pointer;
                        background-color: $hover-color;
                    }
                }

                @if $active-color != none {
                    .active {
                        background-color: $active-color;
                    }
                }

                .disabled {
                    cursor: not-allowed;
                }
            }
        }

        .body {
            flex-grow: 1;
            margin-left: -$sidebar-width;
            @if $page-footer-height != 0px {
                margin-bottom: $page-footer-height;
            }
        }

        .body-closed {
            margin-left: 0;
        }

        @media only screen and (min-width: $overlap-breakpoint) {
            .sidebar-header {
                border-right: none;
            }

            .body, .body-closed {
                margin-left: 0;
            }
        }
    }
}
