$shadow-color: #666;

$medium-dark-blue: hsl(208, 59%, 49%);

$lightest-gray: hsl(210, 13%, 95%);

$lighter-gray: hsl(210, 12%, 93%);

$light-gray: hsl(210, 12%, 80%);

$medium-gray: hsl(210, 13%, 65%);

$darker-gray: slategray;

$light-brown-gray: rgba(27, 31, 35, 0.35);

$warning-red: crimson;
