$shadow-color: #666;

$medium-dark-blue: hsl(208, 59%, 49%);

$lighter-gray: hsl(210, 12%, 93%);

$light-gray: hsl(210, 12%, 80%);

$light-brown-gray: rgba(27, 31, 35, 0.35);

$warning-red: crimson;

$red-button-color: hsl(0, 80%, 50%);
