@import '@/styles/colors.scss';

// Organization ---------------------------------------------------------------

.legend {
    color: $ocean-blue;
    font-size: 1.125rem;
}

.fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
}

// Provides even spacing for form elements
.form-field-wrapper {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Provides padding and alignment for buttons at the bottom of a form or modal
.button-footer, .button-footer-right {
    display: flex;
    margin-top: .75rem;
}

// Like form-button-footer, but right-justifies the buttons
.button-footer-right {
    justify-content: space-around;

    .button:first-child {
        margin-left: auto;
    }
}


.input-tooltip {
    color: mediumvioletred;
    font-size: 15px;
    margin-left: 8px;
}

.text-label {
    color: lighten(black, 10);
    display: inline-block;
    font-size: .875rem;
    font-weight: bold;
    margin: 0 0 .25rem 0;
}

// TODO: replace with .form-field-wrapper
.input-spacing {
    margin-top: 15px;
    margin-bottom: 15px;
}

.last-saved-timestamp {
    color: lighten(#495057, 40);
    font-size: 15px;
}

.save-button {
    @import '@/styles/button_styles.scss';

    @extend .green-button;
    display: block;
    margin: 0 10px 10px 0;
}

// Danger Zone -----------------------------------

.danger-zone-container {
    margin: 50px 10px 20px;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .danger-text {
        color: black;
        font-size: 24px;
        word-break: break-word;
        word-wrap: break-word;
    }

    .delete-button {
        @extend .red-button;
        font-size: 14px;
    }

 }

// Inputs, selects, radios ----------------------------------------------------

$input-border-color: #ced4da;
$input-text-color: #495057;

.input {
    font-size: 1rem;
    padding: 6px 7px;
    border-radius: 2px;
    color: $input-text-color;
    background-color: white;
    border: 1px solid $input-border-color;
}

.select {
    background-color: white;
    border: 1px solid $input-border-color;
    border-radius: 2px;
    box-sizing: border-box;
    color: $input-text-color;
    font-size: 1rem;
    padding: 6px 4px;
}

.radio-container {
    padding: 2px 4px;
    .label {
        padding-left: 3px;
    }
}

// Checkbox -------------------------------------------------------------------

$checkbox-background-light: hsl(200, 100%, 99%);
$checkbox-background-dark: hsl(220, 30%, 90%);
$check-mark-disabled: hsl(220, 12%, 20%);

.checkbox-input-container {
    padding: 10px 0 10px 5px;
    position: relative;

    .checkbox-label {
        color: lighten(black, 10);
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
    }

    .checkbox  {
        clip: rect(0,0,0,0);
        position: absolute;
    }

    .checkbox + label::before {
        color: transparent;
        content: '\f0c8';
        font-family: "Font Awesome 5 Free";
        font-size: 10px;
        font-weight: 900;
        background-color: $checkbox-background-dark;
        background-image: linear-gradient(lighten($checkbox-background-dark, 8),
                                        lighten($checkbox-background-dark, 3));
        border-color: hsl(220, 12%, 66%);
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 0.5px 0.5px $pebble-dark;
        display: inline-block;
        padding: 2px 2px 2px 2px;
        margin-right: 4px;
        min-width: 10px;
        position: relative;
        bottom: 2px;
    }

    .checkbox:active + label::before {
        background-color: $checkbox-background-dark;
        background-image: linear-gradient(lighten($checkbox-background-dark, 5),
                                        lighten($checkbox-background-dark, 0));
        box-shadow: 0 0.5px 0.5px transparent;
    }

    .checkbox:checked + label::before {
        content: '\f00c';
        color: black;
    }

    %disabled-checkbox-shared {
        content: inherit;
        background-image: linear-gradient(rgba(lighten($checkbox-background-light, 9), .5),
                                        rgba(lighten($checkbox-background-light, 8), .5));
        border-color: rgba(lighten($checkbox-background-dark, 1), 1);
        box-shadow: 0 0.5px 0.5px transparent;
    }

    .checkbox:disabled + label::before {
        color: transparent;
        @extend %disabled-checkbox-shared;
    }

    .checkbox:checked:disabled + label::before {
        color: rgba($check-mark-disabled, 0.4);
        @extend %disabled-checkbox-shared;
    }

    .checkbox:disabled + label {
        color: rgba($check-mark-disabled, 0.6);
    }
}

// Dropdown -------------------------------------------------------------------

.dropdown-header-wrapper {
    display: inline-block;
    margin: 0;
    position: relative;
}

.dropdown-header {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #495057;
    cursor: default;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 38px;
    padding: .375rem 55px .375rem .75rem;
    position: relative;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dropdown-header:focus {
    border-color: $ocean-blue;
}

.dropdown-caret {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 18px;
    top: 3px;
}
