// This file is for SCSS variables, mixins, etc. that need to be available globally.
// It is NOT for global style rules. Those should go in app.vue

$font-family: "Helvetica Neue", Helvetica;
$line-height: 1.2;

$banner-background-color: lighten(desaturate($gray-blue-2, 50%), 5%);

$navbar-background-color: lighten($banner-background-color, 4%);
$navbar-active-color: darken($navbar-background-color, 15%);
$navbar-hover-color: lighten($navbar-active-color, 5%);
