@import '@/styles/colors.scss';

@mixin list-panels(
    $text-padding: .375rem,
    $active-color: $light-blue,
    $active-text-color: black,
    $level-0-padding: .375rem,
    $indentation: .625rem,
    $font-size: .875rem,
    // When false, shows icons only when hovering over a panel or
    // when a panel is active.
    $always-show-icons: false,
) {
    .panel {
        * {
            box-sizing: border-box;
        }

        display: flex;

        cursor: pointer;
        font-size: $font-size;
        align-items: center;
        justify-content: stretch;
        width: 100%;

        &.level-0 {
            padding-left: $level-0-padding;
        }
        &.level-1 {
            padding-left: $indentation;
        }
        &.level-2 {
            padding-left: $indentation * 2;
        }
        &.level-3 {
            padding-left: $indentation * 3;
        }

        .caret {
            // Set the width of the element wide enough so that
            // the text doesn't shift when switching from a right
            // caret to a down caret. 1em will give us whatever the current
            // font size is.
            width: 1em;
        }

        .text {
            padding: $text-padding 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .icons {
            display: flex;
            @if not $always-show-icons {
                visibility: hidden;
            }
            margin-left: auto;
        }

        @if not $always-show-icons {
            &:hover {
                .icons {
                    visibility: visible;
                }
            }
        }

        &.active {
            background-color: $active-color;
            color: $active-text-color;

            .icons {
                visibility: visible;
            }
        }
    }
}
