@import '@/styles/colors.scss';

.modal-header {
    box-sizing: border-box;

    font-size: 1.25rem;
    font-weight: bold;

    border-bottom: 1px solid $stormy-gray-light;

    padding-left: .125rem;
    padding-bottom: .125rem;

    margin-right: 1rem;
    margin-bottom: .875rem;
}
