@mixin section-header(
    // The margin width on either side of the header text.
    $line-spacing: .1875rem,  // 3/16
    $line-color: black,
    $text-color: black,
    // When false, leaves out the divider on the left side.
    $with-left-divider: true,
    // When true, adds some horizontal padding to the .header-text class
    $pad-text: false,
) {
    color: $text-color;
    display: flex;
    align-items: center;
    overflow: hidden;

    @if $with-left-divider {
        &:before {
            height: 1px;
            background-color: $line-color;
            content: '\a0';

            margin-right: $line-spacing;
        }
    }

    &:after {
        height: 1px;
        background-color: $line-color;
        content: '\a0';

        margin-left: $line-spacing;
        flex-grow: 1;
    }

    @if $pad-text {
        .header-text {
            box-sizing: border-box;
            padding-left: .125rem;
            padding-right: .125rem;;
        }
    }
}

@mixin collapsible-section-header(
    // The margin width on either side of the header text.
    $line-spacing: .1875rem,  // 3/16
    $line-color: black,
    $text-color: black,
    // When true, adds some horizontal padding to the .header-text class
    $pad-text: false,
) {
    @include section-header(
        $line-spacing: $line-spacing,
        $line-color: $line-color,
        $text-color: $text-color,
        $pad-text: $pad-text,
        $with-left-divider: false,
    );

    &:hover {
        cursor: pointer;
    }

    .caret, .fa-caret-right, .fa-caret-down {
        margin-right: $line-spacing;
    }
}
