@import '@/styles/colors.scss';

%behind-the-border {
    position: relative;
    top: 2px;
    z-index: 3;
}

%in-front-of-the-border {
    position: relative;
    top: 2px;
    z-index: 20;
}

/* ---------------- Gray ---------------- */

.gray-theme-active {
    @extend %in-front-of-the-border;
    background-color: white;
    border: 2px solid slategrey;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px white;
    color: slategrey;
};

.gray-theme-inactive {
    @extend %behind-the-border;
    background-color: $pebble-medium;
    border: 2px solid $pebble-medium;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px $pebble-medium;
    color: slategrey;
};

.gray-theme-inactive:hover {
    @extend %behind-the-border;
    background-color: slategrey;

    border: 2px solid slategrey;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px slategrey;
    color: white;
}

/* ---------------- Blue ---------------- */

.blue-theme-active {
    @extend %in-front-of-the-border;
    background-color: white;
    border: 2px solid $ocean-blue;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px white;
    color: black;
}

.blue-theme-inactive {
    @extend %behind-the-border;
    background-color: hsl(30, 100%, 68%);
    border: 2px solid hsl(30, 100%, 68%);
    border-bottom: none;
    box-shadow: inset 0 0 0 4px hsl(30, 100%, 68%);
    color: white;
}

.blue-theme-inactive:hover  {
    @extend %behind-the-border;
    background-color: hsl(30, 100%, 60%);
    border: 2px solid hsl(30, 100%, 60%);
    border-bottom: none;
    box-shadow: inset 0 0 0 4px hsl(30, 100%, 60%);
    color: white;
}

/* ---------------- White ---------------- */

.white-theme-active {
    @extend %in-front-of-the-border;
    background-color: white;
    border: 2px solid $pebble-dark;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px white;
    color: black;
}

.white-theme-inactive {
    @extend %behind-the-border;
    background-color: white;
    border: 2px solid white;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px white;
    color: slategrey;
}

.white-theme-inactive:hover {
    @extend %behind-the-border;
    background-color: $pebble-dark;
    border: 2px solid $pebble-dark;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px $pebble-dark;
    color: black;
}

/* ---------------- White ---------------- */

.no-border-active {
    background-color: $pebble-dark;
    border: 2px solid $pebble-dark;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px $pebble-dark;
    color: black;
}

.no-border-inactive {
    background-color: hsl(184, 5%, 95%);
    border: 2px solid hsl(184, 5%, 95%);
    border-bottom: none;
    box-shadow: inset 0 0 0 4px hsl(184, 5%, 95%);
    color: slategrey;
}

.no-border-inactive:hover {
    background-color: $pebble-medium;
    border: 2px solid $pebble-medium;
    border-bottom: none;
    box-shadow: inset 0 0 0 4px $pebble-medium;
    color: black;
}
